@import "media";
//============================//
//===========BUTTONS=========//
//==========================//

/** БАЗОВАЯ КНОПКА */
.more, .price {
  font-family: 'Inter', sans-serif;
  font-size: 34px;
  background: #2c2e3e;
  color: white;
  width: 410px;
  height: auto;
  border-radius: 12px;
  //margin-bottom: 25px;
  padding: 8px;
  gap: 14px;
  cursor: pointer;
  transition: .3s ease-in-out;
  &:hover {
    background: rgba(10, 12, 19, 0.53);
    color: snow;
    scale: 102%;
  }
  @include _979 {
    font-size: 24px;
    width: 300px;
  }
  @include _768 {
    font-size: 20px;
    width: 100%;

  }
  @include _350 {

    font-size: 20px;
  }
}

//.custom-btn {
//  color: #fff;
//  border-radius: 5px;
//  padding: 10px 25px;
//  background: transparent;
//  cursor: pointer;
//  transition: all 0.3s ease;
//  position: relative;
//  display: inline-block;
//  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
//  7px 7px 20px 0px rgba(0,0,0,.1),
//  4px 4px 5px 0px rgba(0,0,0,.1);
//  outline: none;
//}


.buttons, .custom-btn {
  @include _768 {
    flex-direction: column;
  }
}


//.btn-6 {
//  background: rgb(247,150,192);
//  background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
//  line-height: 42px;
//  padding: 0;
//  border: none;
//  @include _979 {
//    font-size: 24px;
//    width: 300px;
//  }
//  @include _768 {
//    font-size: 20px;
//    width: 100%;
//    flex-direction: column;
//  }
//  @include _350 {
//    font-size: 20px;
//  }
//}
//
//.btn-6:before,
//.btn-6:after {
//  position: absolute;
//  content: "";
//  height: 0%;
//  width: 1px;
//  box-shadow:
//          -1px -1px 20px 0px rgba(255,255,255,1),
//          -4px -4px 5px 0px rgba(255,255,255,1),
//          7px 7px 20px 0px rgba(0,0,0,.4),
//          4px 4px 5px 0px rgba(0,0,0,.3);
//}
//.btn-6:before {
//  right: 0;
//  top: 0;
//  transition: all 500ms ease;
//}
//.btn-6:after {
//  left: 0;
//  bottom: 0;
//  transition: all 500ms ease;
//}
//.btn-6:hover{
//  background: transparent;
//  color: #76aef1;
//  box-shadow: none;
//}
//.btn-6:hover:before {
//  transition: all 500ms ease;
//  height: 100%;
//}
//.btn-6:hover:after {
//  transition: all 500ms ease;
//  height: 100%;
//
//}