.footer {
  font-family: "Inter", sans-serif;
  height: 100%;
  background-color: rgb(41, 41, 41, 50%);
  text-decoration: none;
  a {
    color: inherit;
    transition: .3s ease-in-out;
    text-decoration: none;
    &:hover {
       color: #e86eff;
    }
  }
}
.social img {
  margin: 4px;
}
