@import "media";
//============================//
//===========HEADER==========//
//==========================//

.header {
  &__filter{
    background-color: #292929;
  }
  .nav-link {
    color: white !important;
    transition: .3s ease-in-out;
    &:hover {
      //-webkit-box-shadow: 4px 4px 8px 0px rgba(212, 182, 247, 0.2);
      //-moz-box-shadow: 4px 4px 8px 0px rgba(212, 182, 247, 0.2);
      //box-shadow: 4px 4px 8px 0px rgba(212, 182, 247, 0.2);
      scale: 102%;
    }
  }
}
.navbar-brand img {
  width: 75px;
  @include _480 {
    width: 60px;
  }
}