.quiz-item {
    font-family: 'Inter', sans-serif;
    img {
        width: 99%;
    }
    margin-top: 24px;
    margin-bottom: 24px;
    p {
        font-size: 2rem;
    }
}

.quest {
    background: inherit;
}

.quest-wrapper {
    width: 400px;
    height: auto;
    border: 2px solid black;
    border-radius: 14px;
}