body {
    background: none
}

.quest-item {
    font-family: 'Inter', sans-serif;
    img {
        width: 99%;
    }
    margin-top: 24px;
    margin-bottom: 24px;
    p {
        font-size: 2rem;
    }
}

.quiz {
    //border: 1px solid #000;
    //border-radius: 12px;
    background-color:#fff;
    color: #000;
    max-width: 600px;
    min-height: 100px;
    margin: 0 auto;
    padding: 12px 12px 34px 12px;
    font-family: 'Inter',sans-serif;
    &__questions {
        font-weight: 400;
        text-align: center;
        margin-bottom: 20px;
    }
        h3 {
        font-size: 1rem;
    }
}
.quiz-questions{

    &__title {  
        margin-bottom: 10px;
    }
    &__answers {
        input [type='text'] {
            width: 200px;
            height: 40px;
            padding-left: 10px;
        }
    }
    &__label {
        margin-bottom: 10px;
    }
    // &__btn {
    //     color: #fff;
    //     background-color: #000;
    //     border: none;
    //     padding: 10px 15px;
    //     cursor: pointer;
    // }
}

.quiz-questios__btn {
 color: #fff;
        background-color: #000;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
}


.error {
    outline: 3px solid red !important;
}
