@import 'media';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;1,8..60,400&display=swap');
@font-face {
  font-family: "AGU-medium";
  src: url("/assets/fonts/AGUniversityCyr.ttf");
}

//============================//
//======LAYOUT IMPORTS=======//
//==========================//
@import "buttons";
@import "videoBack";
@import "cards";
@import "meeting";
@import "header";
@import '_modal.scss';
//==========================//

body, html {
  width: 100%;
  min-height: 100%;
  font-family: "Source Serif 4", serif;
  font-weight: 300;
  //font-family: "Montserrat", sans-serif;
  color: white;
  background: url("../../assets/img/bg.svg"), linear-gradient(180deg, rgb(131, 71, 166) 33%, rgb(59, 80, 95) 66%, rgb(40, 82, 76) 99%);
  background-position: 50% 50%;
  background-repeat: repeat-y;
}
.main {
  margin: 0 auto;
}

//============================//
//===========SWIPER==========//
//==========================//

p {
  font-size: 48px;

}
.grayOut {
background-color: rgb(41, 41, 41, 50%);
}
.swiper {
  width: 100%;
  height: auto;
}
.swiper-slide{
  gap: 10px;
}
.slide{
  &__photo img{
    border-radius: 24px;
    //width: 86%;
    width: 100%;
    @include _768 {
      width: 100%;
    }

  }
  &__video iframe{
    max-width: 100%;
    max-height: 100%;
    border-radius: 24px;
    //margin-bottom: 120px;
    @include _350 {
      width: 100%;
      height: 550px;
    }
  }
}

.swiper-button-next, .swiper-button-prev {
  display: none;
}
.swiper-pagination {
  display: block;
  position: relative;
}

/** ПЕРЕНЕСТИ В ОСНОВНОЙ ФАЙЛ */
.services-description {
  background-color: rgb(41,41,41,50%);
}


.main__title {
  font-size: 1.75rem;
  @include _350{
    font-size: 3rem;
  }
  @include _768 {
    font-size: 3rem;
  }
  @include _979 {
    font-size: 3.5rem;
  }
  @include _1170 {
    font-size: 4.5rem;
  }
}

.title {
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 300;
  @include _350 {
   font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

.subtitle {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 300;
  @include _350 {
    font-size: 1.75rem;
  }
  @include _768 {
    font-size: 2rem;
  }
}


.separator {
  height: 80px;
  max-width: 96%;
  background: url("../../assets/img/svg/separator.svg")  50%/contain no-repeat;
}

/** ЗВЕЗДА */
.star {
  max-width: 110px;
  background: url("../../assets/img/svg/star.svg")  50%/contain no-repeat;
  //animation: 3s linear infinite rotate;
  @include _480 {
    height: 30px;
  }
}
.re-star {
  position: relative;
  left: 3%;
  top: -22px;
  rotate: -15deg;
  max-width: 60px;
  height: 45px;
  background: url("../../assets/img/svg/star.svg")  50%/contain no-repeat;
  @include _1170 {
    max-width: 120px;
    height: 90px;
    top:-46px;
  }
  //@include _1170 {
  //  max-width: 90px;
  //  height: 90px;
  //  margin-bottom: -90px;
  //}
  //@include _979 {
  //  max-width: 65px;
  //  height: 65px;
  //  margin-bottom: -65px;
  //}
  //@include _480 {
  //  //max-width: 90px;
  //}
}
//.re-title {
//  font-size: 24px;
//  @include _350 {
//    font-size: 36px;
//}
//
//
//}
.re-subtitle {
  font-size: 1.25rem;

  @include _350 {
    font-size: 2rem;
  }
  @include _768 {
    font-size: 2.25rem;
  }

  //@include _1170{
  //  margin-top: 46px;
  //  font-weight: 200;
  //}
  //@include _979 {
  //  margin-top: 46px;
  //  font-weight: 200;
  //}
}
/** АНИМАЦИЯ ВРАЩЕНИЯ ЗВЕЗДЫ */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}




.slide__photo__elf {
  overflow-x: hidden;
  max-width: 348px;
  border-radius: 12px;
}

.swiper-photo__elfs, .swiper-photo {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}


.drop-down, .drop-down__duo, .drop-down__driada, .drop-down__solo-elf, .drop-down__trio {
  display: none;
  transition: .9s ease-in-out;
  opacity: 0;
  p {
    font-size: 1rem;
    @include _350 {
      font-size: 1.25rem;
    }
    @include _600 {
      font-size: 1.5rem;
    }
    @include _768 {
      font-size: 1.75rem;
    }
    @include _1170 {
      font-size: 38px;
    }
  }
  h2 {
    font-size: 40px;
  }
}
.open-drop {
  display: block;
  transition: .9s ease-in-out;
  opacity: 1;
}

.paragraph {
  font-size: 1rem;
  @include _350 {
    font-size: 1.25rem;
  }
  @include _600 {
    font-size: 1.5rem;
  }
  @include _768 {
    font-size: 1.75rem;
  }
  @include _1170 {
    font-size: 38px;
  }
}


.youtube iframe {
  border-radius: 24px;
  width: 100%;
  height: 600px;
}

//Карточка услуги\программы
.services-title{
  max-width: 100%;
  background-color: #292929;
  font-family: "Inter, Source Serif 4", serif;
  font-size: 1rem;
  padding: 16px;
  font-weight: 300;
  @include _350 {
    font-size: 1.5rem;
  }
  @include _768 {
    font-size: 2.5rem;
  }
  @include _1170 {
    font-size: 3.0rem;
  }
  //&::before {
  //  content: url("../../assets/img/svg/star.svg");
  //  position: relative;
  //  width: 9%;
  //  scale: 120%;
  //  top: 68px;
  //  /* left: 10px; */
  //  height: auto;
  //  rotate: 15deg;
  //}

}
.services-wrapper {
  padding-top: 30px;
}
.services-description {
  font-family: "Source Serif 4", serif;
  margin-top: -45px;
  padding-bottom: 30px;
  padding-top: 3px;

  @include _1170 {
    margin-top: -90px;
  }
}

.test {
  height: 143px;
  width: 152px;
  margin-top: -72px;
  rotate: -15deg;
  left: 4%;
  bottom: -9%;
  p {
    margin-left: 30px;
    @include _979 {
      .services-title {
        font-size: 36px;
      }
    }
    @include _768 {
      .services-title {
        font-size: 24px;
      }
    }
  }
}



//.services-description {
//  margin-top: -200px;
//}

ol {
  font-size: 1rem;
  @include _350 {
    font-size: 1.25rem;
  }
  @include _600 {
    font-size: 1.5rem;
  }
  @include _768 {
    font-size: 1.75rem;
  }
  @include _1170 {
    font-size: 38px;
  }
}