@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;1,8..60,400&display=swap");
@font-face {
  font-family: "AGU-medium";
  src: url("/assets/fonts/AGUniversityCyr.ttf");
}
/** БАЗОВАЯ КНОПКА */
.more, .price {
  font-size: 34px;
  width: 410px;
  height: auto;
  border-radius: 12px;
  padding: 8px;
  gap: 14px;
  cursor: pointer;
}
@media (max-width: 979px) {
  .more, .price {
    font-size: 24px;
    width: 300px;
  }
}
@media (max-width: 768px) {
  .more, .price {
    font-size: 20px;
    width: 100%;
  }
}
@media (max-width: 350px) {
  .more, .price {
    font-size: 20px;
  }
}

.custom-btn {
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

@media (max-width: 768px) {
  .buttons, .custom-btn {
    flex-direction: column;
  }
}

.btn-6 {
  background: rgb(247, 150, 192);
  background: radial-gradient(circle, rgb(247, 150, 192) 0%, rgb(118, 174, 241) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}
@media (max-width: 979px) {
  .btn-6 {
    font-size: 24px;
    width: 300px;
  }
}
@media (max-width: 768px) {
  .btn-6 {
    font-size: 20px;
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 350px) {
  .btn-6 {
    font-size: 20px;
  }
}

.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  box-shadow: -1px -1px 20px 0px rgb(255, 255, 255), -4px -4px 5px 0px rgb(255, 255, 255), 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}

.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}

.btn-6:hover {
  background: transparent;
  color: #76aef1;
  box-shadow: none;
}

.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}

.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  z-index: 1;
}
.video__media {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.main__title {
  margin: 0;
  font-size: 5rem;
  font-family: "AGU-medium", cursive;
}
@media (max-width: 480px) {
  .main__title {
    font-size: 2.5rem;
  }
}

.intro {
  max-height: 70vh;
  overflow: hidden;
  position: relative;
  background: url("../../assets/img/elf_cover_video.webp") center no-repeat;
  background-size: cover;
}
.intro__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.intro__container {
  max-width: 1200px;
  margin: 0 auto;
}

.meeting {
  font-family: "Source Serif 4", serif;
}
.meeting h2 {
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 300;
}
@media (max-width: 768px) {
  .meeting h2 {
    font-size: 2rem;
  }
}
@media (max-width: 350px) {
  .meeting h2 {
    font-size: 1.5rem;
  }
}
.meeting h3 {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 300;
}
@media (max-width: 768px) {
  .meeting h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 350px) {
  .meeting h3 {
    font-size: 1rem;
  }
}

.header__filter {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-brand img {
  width: 75px;
}
@media (max-width: 480px) {
  .navbar-brand img {
    width: 60px;
  }
}

body, html {
  width: 100%;
  height: 22000px;
  font-family: "Montserrat", sans-serif;
  color: white;
  background: url("../../assets/img/bg.svg"), linear-gradient(180deg, rgb(131, 71, 166) 33%, rgb(59, 80, 95) 66%, rgb(40, 82, 76) 99%);
  background-position: 50% 50%;
  background-repeat: repeat-y;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  gap: 10px;
}

.slide__photo img {
  border-radius: 24px;
  width: 100%;
}
@media (max-width: 768px) {
  .slide__photo img {
    width: 100%;
  }
}
.slide__video iframe {
  max-width: 100%;
  max-height: 100%;
  border-radius: 24px;
}
@media (max-width: 350px) {
  .slide__video iframe {
    width: 100%;
    height: 550px;
  }
}

.swiper-button-next, .swiper-button-prev {
  display: none;
}

.swiper-pagination {
  top: 780px !important;
}
@media (max-width: 350px) {
  .swiper-pagination {
    top: 555px !important;
  }
}

@media (max-width: 979px) {
  .image-slider {
    margin-top: -60px;
  }
}

/** ПЕРЕНЕСТИ В ОСНОВНОЙ ФАЙЛ */
.driada, .elf, .programs {
  font-family: "Source Serif 4", serif;
  font-weight: 300;
}

.title {
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}
@media (max-width: 350px) {
  .title {
    font-size: 1.5rem;
  }
}
.subtitle {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 1.5rem;
  }
}
@media (max-width: 350px) {
  .subtitle {
    font-size: 1rem;
  }
}
.separator {
  height: 80px;
  background: url("../../assets/img/svg/separator.svg") 50%/contain no-repeat;
}

/** ЗВЕЗДА */
.star {
  height: 60px;
  background: url("../../assets/img/svg/star.svg") 50%/contain no-repeat;
  animation: 3s linear infinite rotate;
}
@media (max-width: 480px) {
  .star {
    height: 45px;
  }
}

/** АНИМАЦИЯ ВРАЩЕНИЯ ЗВЕЗДЫ */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slide__photo__elf {
  overflow-x: hidden;
  max-width: 348px;
  border-radius: 12px;
}

.swiper-photo__elfs, .swiper-photo {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.drop-down, .drop-down__duo, .drop-down__driada {
  display: none;
  transition: 0.9s ease-in-out;
  opacity: 0;
}

.open-drop {
  display: block;
  transition: 0.9s ease-in-out;
  opacity: 1;
}

.paragraph {
  font-size: 1.5rem;
}

.youtube iframe {
  border-radius: 24px;
  width: 100%;
  height: 600px;
}

/*# sourceMappingURL=custom.css.map */
