@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;1,8..60,400&display=swap");
@font-face {
  font-family: "AGU-medium";
  src: url("/assets/fonts/AGUniversityCyr.ttf");
}
/** БАЗОВАЯ КНОПКА */
.more, .price {
  font-family: "Inter", sans-serif;
  background: #2c2e3e;
  color: white;
  min-width: 260px;
  border-radius: 6px;
  padding: 8px;
  gap: 14px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.more:hover, .price:hover {
  background: rgba(10, 12, 19, 0.53);
  color: snow;
  scale: 102%;
}
@media (min-width: 350px) {
  .more, .price {
    font-size: 1.25rem;
    width: 100%;
  }
}
@media (min-width: 979px) {
  .more, .price {
    font-size: 2rem;
  }
}

.buttons, .custom-btn {
  margin: 0 auto;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  z-index: 1;
}
.video__media {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.main__title {
  margin: 0;
  font-size: 5rem;
  font-family: "AGU-medium", cursive;
}
@media (min-width: 480px) {
  .main__title {
    font-size: 2.5rem;
  }
}

.intro {
  max-height: 70vh;
  overflow: hidden;
  position: relative;
  background: url("../../assets/img/elf_cover_video.webp") center no-repeat;
  background-size: cover;
}
.intro__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.intro__container {
  max-width: 1200px;
  margin: 0 auto;
}

.card-custom {
  position: relative;
  margin-top: 120px;
  margin-bottom: 120px;
  max-width: 100%;
  margin-left: 15px;
  background-color: inherit;
  margin-right: 15px;
}
@media (min-width: 1170px) {
  .card-custom {
    margin-top: 200px;
  }
}
.card-custom img {
  width: 55%;
}
@media (min-width: 768px) {
  .card-custom img {
    position: absolute;
    top: -38%;
    right: 28%;
    width: 38%;
  }
}
@media (min-width: 1170px) {
  .card-custom img {
    top: -88%;
  }
}
@media (min-width: 480px) {
  .card-custom img {
    width: 43%;
  }
}

.card-body {
  min-height: 150px;
  border: 3px solid #D9D9D9;
  gap: 10px;
}

.card-price {
  min-width: 100%;
  border: 1px solid #D9D9D9;
  height: 75px;
}
@media (min-width: 768px) {
  .card-price {
    min-width: 66.6%;
    height: 130px;
  }
}
.card-price p {
  margin: 0;
  height: 100%;
  font-size: 1.75rem;
}
@media (min-width: 979px) {
  .card-price p {
    font-size: 2rem;
  }
}

.card-artist {
  min-width: 100%;
  height: 75px;
  border: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .card-artist {
    min-width: 32.3%;
    height: 130px;
  }
}
.card-artist p {
  margin: 0;
  font-size: 1.5rem;
}
@media (min-width: 979px) {
  .card-artist p {
    font-size: 1.75rem;
    line-height: 38px;
  }
}

.meeting {
  font-family: "Source Serif 4", serif;
}
.meeting h2 {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 300;
}
@media (min-width: 768px) {
  .meeting h2 {
    font-size: 2rem;
  }
}
@media (min-width: 979px) {
  .meeting h2 {
    font-size: 2.25rem;
  }
}
@media (min-width: 1170px) {
  .meeting h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 350px) {
  .meeting h2 {
    font-size: 1.75rem;
  }
}
.meeting p {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 200;
}
@media (min-width: 768px) {
  .meeting p {
    font-size: 1.5rem;
  }
}
@media (min-width: 350px) {
  .meeting p {
    font-size: 1rem;
  }
}

.header__filter {
  background-color: #292929;
}
.header .nav-link {
  color: white !important;
  transition: 0.3s ease-in-out;
}
.header .nav-link:hover {
  scale: 102%;
}

.navbar-brand img {
  width: 75px;
}
@media (min-width: 480px) {
  .navbar-brand img {
    width: 60px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 22;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 6px;
  border: 1px solid #888;
  width: 90%;
  color: #292929;
}
.modal-content h5 {
  margin-bottom: 20px;
}
@media (min-width: 480px) {
  .modal-content {
    padding: 20px;
  }
}
@media (min-width: 1170px) {
  .modal-content {
    width: 50%;
  }
}

.close {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.quiz-item {
  font-family: "Inter", sans-serif;
  margin-top: 24px;
  margin-bottom: 24px;
}
.quiz-item img {
  width: 99%;
}
.quiz-item p {
  font-size: 2rem;
}

.footer {
  font-family: "Inter", sans-serif;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.5);
}
.footer a {
  color: inherit;
  transition: 0.3s ease-in-out;
}
.footer a:hover {
  color: blue;
}

.social img {
  margin: 4px;
}

body, html {
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100%;
  font-family: "Source Serif 4", serif;
  font-weight: 300;
  color: white;
  background: url("../../assets/img/bg.svg"), linear-gradient(180deg, rgb(131, 71, 166) 33%, rgb(59, 80, 95) 66%, rgb(40, 82, 76) 99%);
  background-position: 50% 50%;
  background-repeat: repeat-y;
}

.main {
  margin: 0 auto;
}

p {
  font-size: 48px;
}

.grayOut {
  background-color: rgba(41, 41, 41, 0.5);
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  gap: 10px;
}

.slide__photo img {
  border-radius: 24px;
  width: 100%;
}
@media (min-width: 768px) {
  .slide__photo img {
    width: 100%;
  }
}
.slide__video iframe {
  max-width: 100%;
  max-height: 100%;
  border-radius: 24px;
}
@media (min-width: 350px) {
  .slide__video iframe {
    width: 100%;
    height: 550px;
  }
}

.swiper-button-next, .swiper-button-prev {
  display: none;
}

.swiper-pagination {
  display: block;
  position: relative;
}

/** ПЕРЕНЕСТИ В ОСНОВНОЙ ФАЙЛ */
.services-description {
  background-color: rgba(41, 41, 41, 0.5);
}

.main__title {
  font-size: 1.75rem;
}
@media (min-width: 350px) {
  .main__title {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .main__title {
    font-size: 3rem;
  }
}
@media (min-width: 979px) {
  .main__title {
    font-size: 3.5rem;
  }
}
@media (min-width: 1170px) {
  .main__title {
    font-size: 4.5rem;
  }
}

.title {
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 300;
}
@media (min-width: 350px) {
  .title {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}
.subtitle {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 300;
}
@media (min-width: 350px) {
  .subtitle {
    font-size: 1.75rem;
  }
}
@media (min-width: 768px) {
  .subtitle {
    font-size: 2rem;
  }
}

.separator {
  height: 80px;
  max-width: 96%;
  background: url("../../assets/img/svg/separator.svg") 50%/contain no-repeat;
}

/** ЗВЕЗДА */
.star {
  max-width: 110px;
  background: url("../../assets/img/svg/star.svg") 50%/contain no-repeat;
}
@media (min-width: 480px) {
  .star {
    height: 30px;
  }
}

.re-star {
  position: relative;
  left: 3%;
  top: -22px;
  rotate: -15deg;
  max-width: 60px;
  height: 45px;
  background: url("../../assets/img/svg/star.svg") 50%/contain no-repeat;
}
@media (min-width: 1170px) {
  .re-star {
    max-width: 120px;
    height: 90px;
    top: -46px;
  }
}

.re-subtitle {
  font-size: 1.25rem;
}
@media (min-width: 350px) {
  .re-subtitle {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .re-subtitle {
    font-size: 2.25rem;
  }
}

/** АНИМАЦИЯ ВРАЩЕНИЯ ЗВЕЗДЫ */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slide__photo__elf {
  overflow-x: hidden;
  max-width: 348px;
  border-radius: 12px;
}

.swiper-photo__elfs, .swiper-photo {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.drop-down, .drop-down__duo, .drop-down__driada, .drop-down__solo-elf, .drop-down__trio {
  display: none;
  transition: 0.9s ease-in-out;
  opacity: 0;
}
.drop-down p, .drop-down__duo p, .drop-down__driada p, .drop-down__solo-elf p, .drop-down__trio p {
  font-size: 1rem;
}
@media (min-width: 350px) {
  .drop-down p, .drop-down__duo p, .drop-down__driada p, .drop-down__solo-elf p, .drop-down__trio p {
    font-size: 1.25rem;
  }
}
@media (min-width: 600px) {
  .drop-down p, .drop-down__duo p, .drop-down__driada p, .drop-down__solo-elf p, .drop-down__trio p {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .drop-down p, .drop-down__duo p, .drop-down__driada p, .drop-down__solo-elf p, .drop-down__trio p {
    font-size: 1.75rem;
  }
}
@media (min-width: 1170px) {
  .drop-down p, .drop-down__duo p, .drop-down__driada p, .drop-down__solo-elf p, .drop-down__trio p {
    font-size: 38px;
  }
}
.drop-down h2, .drop-down__duo h2, .drop-down__driada h2, .drop-down__solo-elf h2, .drop-down__trio h2 {
  font-size: 40px;
}

.open-drop {
  display: block;
  transition: 0.9s ease-in-out;
  opacity: 1;
}

.paragraph {
  font-size: 1rem;
}
@media (min-width: 350px) {
  .paragraph {
    font-size: 1.25rem;
  }
}
@media (min-width: 600px) {
  .paragraph {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .paragraph {
    font-size: 1.75rem;
  }
}
@media (min-width: 1170px) {
  .paragraph {
    font-size: 38px;
  }
}

.youtube iframe {
  border-radius: 24px;
  width: 100%;
  height: 600px;
}

.services-title {
  max-width: 100%;
  background-color: #292929;
  font-family: "Inter, Source Serif 4", serif;
  font-size: 1rem;
  padding: 16px;
  font-weight: 300;
}
@media (min-width: 350px) {
  .services-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .services-title {
    font-size: 2.5rem;
  }
}
@media (min-width: 1170px) {
  .services-title {
    font-size: 3rem;
  }
}

.services-wrapper {
  padding-top: 30px;
}

.services-description {
  font-family: "Source Serif 4", serif;
  margin-top: -45px;
  padding-bottom: 30px;
  padding-top: 3px;
}
@media (min-width: 1170px) {
  .services-description {
    margin-top: -90px;
  }
}

.test {
  height: 143px;
  width: 152px;
  margin-top: -72px;
  rotate: -15deg;
  left: 4%;
  bottom: -9%;
}
.test p {
  margin-left: 30px;
}
@media (min-width: 979px) {
  .test p .services-title {
    font-size: 36px;
  }
}
@media (min-width: 768px) {
  .test p .services-title {
    font-size: 24px;
  }
}

ol {
  font-size: 1rem;
}
@media (min-width: 350px) {
  ol {
    font-size: 1.25rem;
  }
}
@media (min-width: 600px) {
  ol {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  ol {
    font-size: 1.75rem;
  }
}
@media (min-width: 1170px) {
  ol {
    font-size: 38px;
  }
}

.stickyWa img {
  cursor: pointer;
  position: fixed;
  z-index: 22;
  top: 84%;
  right: 8%;
  width: 12%;
  transition: 0.3s ease-in-out;
}
.stickyWa img:hover {
  scale: 104%;
}
@media (min-width: 600px) {
  .stickyWa img {
    width: 7%;
  }
}

.crutch {
  margin-left: -20px;
}/*# sourceMappingURL=custom.css.map */